<h1>ConsultaCNPJ</h1>

@model List<ODP.Web.UI.Models.ViewModels.Compras.ContratoViewModel>


@{
    ViewData["Title"] = "Consulta de Contrato por CNPJ";
}

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().OrgaoGestor)</th>
                <th>@Html.DisplayNameFor(model => model.First().StatusContrato)</th>
                <th>@Html.DisplayNameFor(model => model.First().Protocolo)</th>
                <th>@Html.DisplayNameFor(model => model.First().VlrTotalAtual)</th>
                <th>@Html.DisplayNameFor(model => model.First().VlrTotalOriginal)</th>
                <th>@Html.DisplayNameFor(model => model.First().CNPJ)</th>
                <th>@Html.DisplayNameFor(model => model.First().DTInicioVigencia)</th>
                <th>@Html.DisplayNameFor(model => model.First().DTFimVigencia)</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(m => item.OrgaoGestor)</td>
                <td>@Html.DisplayFor(m => item.StatusContrato)</td>
                <td>@Html.DisplayFor(m => item.Protocolo)</td>
                <td>@Html.DisplayFor(m => item.VlrTotalAtual)</td>
                <td>@Html.DisplayFor(m => item.VlrTotalOriginal)</td>
                <td>@Html.DisplayFor(m => item.CNPJ)</td>
                <td>@Html.DisplayFor(m => item.DTInicioVigencia)</td>
                <td>@Html.DisplayFor(m => item.DTFimVigencia)</td>
                
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger">
        Nenhum contrato foi encontrado com o CNPJ fornecido.
    </div>
}
