@using ODP.Web.UI.Extensions
@using ODP.Web.UI.Models.Internos
@model PagedResult<ContratosInternosViewModel>
@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid pt-lg-5">
    <div class="table-responsive shadow">
        <div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>Contratos <b>Internos</b></h2>
            </div>
           <a asp-controller="ContratosInternos" asp-action="Create" class="btn btn-success ">
                <img src="~/svg/adicionar.svg" width="20" height="20" class="d-inline-block align-top" alt="Adicionar">
                <span class="m-1">Novo</span>
           </a>
        </div>
    </div>

    <div>
          <table class="table table-striped table-hover" style="width:100%; table-layout: auto;">

            <thead>
                <tr>
                    <th style="width: 10%;">@Html.DisplayNameFor(model => model.Results.FirstOrDefault().Protocolo)</th>
                            <th>@Html.DisplayNameFor(model => model.Results.FirstOrDefault().NroContrato)</th>
                            <th>@Html.DisplayNameFor(model => model.Results.FirstOrDefault().Contrato)</th>
                            <th>@Html.DisplayNameFor(model => model.Results.FirstOrDefault().FimContrato)</th>
                            <th>@Html.DisplayNameFor(model => model.Results.FirstOrDefault().Valor)</th>
                            <th>@Html.DisplayNameFor(model => model.Results.FirstOrDefault().Status)</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Results)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Protocolo)</td>
                                <td>@Html.DisplayFor(modelItem => item.NroContrato)</td>
                                <td>@Html.DisplayFor(modelItem => item.Contrato)</td>
                                <td>@item.FimContrato.ToString("dd/MM/yyyy")</td>
                                <td>@Html.DisplayFor(modelItem => item.Valor)</td>
                                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>
                            <div class="d-flex">
                                        <a asp-controller="ContratosInternos" asp-action="Editar" asp-route-id="@item.Id" class="btn btn-primary mr-2">
                                    <img src="~/svg/editar.svg" height="16" />
                                </a>
                                        <a asp-controller="ContratosInternos" asp-action="Detalhes" asp-route-id="@item.Id" class="btn btn-info mr-2">
                                    <img src="~/svg/vizualizar.svg" height="16" />
                                </a>
                                <a href="#" class="btn btn-danger mr-2" data-toggle="modal" data-target="#confirmDeleteModal"
                                           data-itemid="@item.Id" data-itemname="@item.NroContrato">
                                    <img src="~/svg/excluir.svg" height="16" />
                                </a>
                            </div>
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
            </div>
        </div>
    </div>

    <ul class="pagination justify-content-center">


        @if (Model.PageNumber > 1)
        {
            <li class="page-item">
                <div class="btn-sm btn-info">
                    <a class="page-link bg-info text-white" asp-action="Index" asp-route-pageSize="@Model.PageSize" asp-route-pageNumber="@(Model.PageNumber - 1)">Anterior</a>
                </div>
            </li>
        }

        @if (Model.PageNumber > 1 && Model.PageNumber < Model.TotalPages - 2)
        {
            <li class="page-item disabled">
                <span class="page-link bg-white color-black">@Model.PageNumber</span>
            </li>
        }

        @if (Model.TotalPages > Model.PageNumber)
        {
            <li class="page-item">
                <div class="btn-sm btn-info">
                    <a class="page-link bg-info text-white " asp-action="Index" asp-route-pageSize="@Model.PageSize" asp-route-pageNumber="@(Model.PageNumber + 1)">Próxima</a>
                </div>
            </li>
        }
    </ul>

</div>

       
<!-- Modal de Confirmação -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir este termo de cooperação?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <form id="deleteForm" method="post">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#confirmDeleteModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var itemId = button.data('itemid');
                var deleteUrl = '@Url.Action("Excluir", "ContratosInternos")?id=' + itemId;
                $('#deleteForm').attr('action', deleteUrl);
            });
        });
    </script>
}
