@using Domain.Corregedoria.Enum
@model ODP.Web.UI.Models.Corregedoria.InstauracaoViewModel
@{
    ViewData["Title"] = "Editar";

    var procedimentosValidos = new[]
           {
        ETipoDecisao.TAC_CELEBRADO,
        ETipoDecisao.TAC_CONCLUIDO,
        ETipoDecisao.TAC_DESCUMPRIDO,
        ETipoDecisao.TAC_INVIAVEL
    };
}



<div class="container-xxl shadow-lg border-1  mt-5 px-3">
    <form asp-action="Editar" class="p-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Visualizar <b>Instauração</b></h2>
                </div>
            </div>
        </div>

        <div class="row  p-lg-3">
            <input asp-for="Ano" class="form-control" value="@DateTime.Now.Year" type="hidden" />

            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="Ano" class="control-label"></label>
                    <input asp-for="Ano" class="form-control" readonly />
                    <span asp-validation-for="Ano" class="text-danger"></span>
                </div>
            </div>


            <!-- CNPJ/CPF -->
            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="CNPJCPF" class="control-label"></label>
                    <input asp-for="CNPJCPF" class="form-control" readonly />
                    <span asp-validation-for="CNPJCPF" class="text-danger"></span>
                </div>
            </div>

            <!-- RG -->
            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="RG" class="control-label"></label>
                    <input asp-for="RG" class="form-control" readonly />
                    <span asp-validation-for="RG" class="text-danger"></span>
                </div>
            </div>

            <!-- Protocolo -->
            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="Protocolo" class="control-label"></label>
                    <input asp-for="Protocolo" class="form-control" readonly />
                    <span asp-validation-for="Protocolo" class="text-danger"></span>
                </div>
            </div>

            <!-- Orgão -->
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="Orgao" class="control-label"></label>
                    <input asp-for="Orgao" class="form-control" readonly />
                    <span asp-validation-for="Orgao" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row   p-lg-3">
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="AtoNormativo" class="control-label"></label>
                    <input asp-for="AtoNormativo" class="form-control" readonly />
                    <span asp-validation-for="AtoNormativo" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="DataPublicacao" class="control-label"></label>
                    <input type="date" class="form-control" asp-for="DataPublicacao" readonly />
                    <span asp-validation-for="DataPublicacao" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="NumeroDIOE" class="control-label"></label>
                    <input asp-for="NumeroDIOE" class="form-control" readonly />
                    <span asp-validation-for="NumeroDIOE" class="text-danger"></span>
                </div>
            </div>
            <!-- Procedimento -->
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="Procedimento" class="control-label"></label>
                    <input asp-for="Procedimento" class="form-control" readonly />
                    <span asp-validation-for="Procedimento" class="text-danger"></span>
                </div>
            </div>



        </div>

        <div class="row   p-lg-3">
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="AtoNormativoDecisao" class="control-label" type="text"></label>
                    <input asp-for="AtoNormativoDecisao" class="form-control" readonly />
                    <span asp-validation-for="AtoNormativoDecisao" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="DataPublicacaoDecisao" class="control-label" type="text"></label>
                    <input type="date" class="form-control" asp-for="DataPublicacaoDecisao" readonly />
                    <span asp-validation-for="DataPublicacaoDecisao" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="NumeroDIOEDecisao" class="control-label"></label>
                    <input asp-for="NumeroDIOEDecisao" class="form-control" readonly />
                    <span asp-validation-for="NumeroDIOEDecisao" class="text-danger"></span>
                </div>
            </div>


            <!-- Decisão -->
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="Decisao" class="control-label"></label>
                    <input asp-for="Decisao" class="form-control" readonly />
                    <span asp-validation-for="Decisao" class="text-danger"></span>
                </div>
            </div>


        </div>

        @if (procedimentosValidos.Contains(Model.Decisao))
        {

            <div class="row   p-lg-3">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label asp-for="DataInicioTac" class="control-label"></label>
                        <input asp-for="DataInicioTac" class="form-control" />
                        <span asp-validation-for="DataInicioTac" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label asp-for="DataFimTac" class="control-label"></label>
                        <input asp-for="DataFimTac" class="form-control" />
                        <span asp-validation-for="DataFimTac" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-3">

                    <div class="form-group">
                        <label asp-for="PrazoEncerra" class="control-label"></label>
                        <input asp-for="PrazoEncerra" class="form-control" />
                        <span asp-validation-for="PrazoEncerra" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-3">

                    <div class="form-group">
                        <label>PGE</label>
                        <div style="display: flex; align-items: center; gap: 15px;">
                            <div style="display: flex; align-items: center; gap: 5px;">
                                <input type="radio" id="PGE_Yes" name="PGE" value="true" @(Model.PGE == true ? "checked" : "") disabled />
                                <label for="PGE_Yes" style="margin-bottom: 0;">Sim</label>
                            </div>
                            <div style="display: flex; align-items: center; gap: 5px;">
                                <input type="radio" id="PGE_No" name="PGE" value="false" @(Model.PGE == false ? "checked" : "") disabled />
                                <label for="PGE_No" style="margin-bottom: 0;">Não</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">

                    <div class="form-group">
        <label>Cumpriu</label>
        <div style="display: flex; align-items: center; gap: 15px;">
            <div style="display: flex; align-items: center; gap: 5px;">
                <input type="radio" id="Cumpriu_Yes" name="Cumpriu" value="true" @(Model.Cumpriu == true ? "checked" : "") disabled />
                <label for="Cumpriu_Yes" style="margin-bottom: 0;">Sim</label>
            </div>
            <div style="display: flex; align-items: center; gap: 5px;">
                <input type="radio" id="Cumpriu_No" name="Cumpriu" value="false" @(Model.Cumpriu == false ? "checked" : "") disabled />
                <label for="Cumpriu_No" style="margin-bottom: 0;">Não</label>
            </div>
        </div>
    </div>
                </div>


            </div>
            <div class="row   p-lg-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Obrigacao" class="control-label"></label>
                        <textarea style="text-align:justify" rows="8" cols="90" asp-for="Obrigacao" class="form-control"></textarea>
                        <span asp-validation-for="Obrigacao" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ObservacaoAjusteTAC" class="control-label"></label>
                        <textarea style="text-align:justify" rows="8" cols="90" asp-for="ObservacaoAjusteTAC" class="form-control"></textarea>
                        <span asp-validation-for="ObservacaoAjusteTAC" class="text-danger"></span>
                    </div>
                </div>
            </div>
        
        }

       

        <div class="row   p-lg-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="InfoAdd" class="control-label"></label>
                    <textarea style="text-align:justify" rows="8" cols="90" asp-for="InfoAdd" class="form-control" readonly></textarea>
                    <span asp-validation-for="InfoAdd" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Objeto" class="control-label"></label>
                    <textarea style="text-align:justify" rows="8" cols="90" asp-for="Objeto" class="form-control" readonly></textarea>
                    <span asp-validation-for="Objeto" class="text-danger"></span>
                </div>
            </div>
        </div>
      

    </form>


    <!-- Botão de submit -->
    <div class="row justify-content-center   p-lg-3">
        <div class="col-md-6 text-center">
            <button class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Corregedoria")'">Voltar</button>
        </div>
    </div>
</div>
﻿