@* @model ODP.Web.UI.Models.Corregedoria.InstauracaoViewModel
@using Domain.Corregedoria.Enum

@{
    ViewData["Title"] = "Editar";
}


<div class=" mb-lg-5"> </div>

<div class="container-xxl shadow-lg border-1 mt-4 px-4">
    <form asp-action="Editar" method="post">        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Editar <b>Instauração</b></h2>
                </div>
            </div>
        </div>

        <div class="row  p-lg-3">
            <input asp-for="Ano" class="form-control" value="@DateTime.Now.Year" type="hidden" />

            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="Ano" class="control-label"></label>
                    <input asp-for="Ano" class="form-control" />
                    <span asp-validation-for="Ano" class="text-danger"></span>
                </div>
            </div>


            <!-- CNPJ/CPF -->
            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="CNPJCPF" class="control-label"></label>
                    <input asp-for="CNPJCPF" class="form-control" />
                    <span asp-validation-for="CNPJCPF" class="text-danger"></span>
                </div>
            </div>

            <!-- RG -->
            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="RG" class="control-label"></label>
                    <input asp-for="RG" class="form-control" />
                    <span asp-validation-for="RG" class="text-danger"></span>
                </div>
            </div>

            <!-- Protocolo -->
            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="Protocolo" class="control-label"></label>
                    <input asp-for="Protocolo" class="form-control" />
                    <span asp-validation-for="Protocolo" class="text-danger"></span>
                </div>
            </div>

            <!-- Orgão -->
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="Orgao" class="control-label"></label>
                    <div class="col-mb">
                        @Html.DropDownListFor(m => m.Orgao, new SelectList(Enum.GetValues(typeof(ETipoOrgao))), new { @class = "custom-dropdown col-checkbox" })
                        <span asp-validation-for="Orgao" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row   p-lg-3">
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="AtoNormativo" class="control-label"></label>
                    <input asp-for="AtoNormativo" class="form-control" />
                    <span asp-validation-for="AtoNormativo" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="DataPublicacao" class="control-label"></label>
                    <input type="date" class="form-control" asp-for="DataPublicacao" />
                    <span asp-validation-for="DataPublicacao" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="NumeroDIOE" class="control-label"></label>
                    <input asp-for="NumeroDIOE" class="form-control" />
                    <span asp-validation-for="NumeroDIOE" class="text-danger"></span>
                </div>
            </div>
            <!-- Procedimento -->
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="Procedimento" class="control-label"></label>
                    <div class="col-mb">
                        @Html.DropDownListFor(m => m.Procedimento, new SelectList(Enum.GetValues(typeof(ETipoProcedimento))), new { @class = "custom-dropdown col-checkbox" })
                       

                        <span asp-validation-for="Procedimento" class="text-danger"></span>
                    </div>
                </div>
            </div>



        </div>

        <div class="row   p-lg-3">
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="AtoNormativoDecisao" class="control-label" type="text"></label>
                    <input asp-for="AtoNormativoDecisao" class="form-control" />
                    <span asp-validation-for="AtoNormativoDecisao" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="DataPublicacaoDecisao" class="control-label" type="text"></label>
                    <input type="date" class="form-control" asp-for="DataPublicacaoDecisao" />
                    <span asp-validation-for="DataPublicacaoDecisao" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="NumeroDIOEDecisao" class="control-label"></label>
                    <input asp-for="NumeroDIOEDecisao" class="form-control" />
                    <span asp-validation-for="NumeroDIOEDecisao" class="text-danger"></span>
                </div>
            </div>


            <!-- Decisão -->
            <div class="col-sm-3">
                <div class="form-group">
                   
                        <label asp-for="Decisao" class="control-label"></label>
                        @Html.DropDownListFor(m => m.Decisao, new SelectList(Enum.GetValues(typeof(ETipoDecisao))), "-- Selecione --", new { @class = "form-control", id = "Decisao" })
                   
                </div>

            </div>
        </div>


        <!-- Campos Dinâmicos TAC -->
        <div id="tacFields" style="display: none;">
            <!-- Linha 4 -->
            <div class="row p-lg-3">
                <!-- Data Início TAC -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label asp-for="DataInicioTac" class="control-label"></label>
                        <input type="date" asp-for="DataInicioTac" class="form-control" />
                        <span asp-validation-for="DataInicioTac" class="text-danger"></span>
                    </div>
                </div>

                <!-- Data Fim TAC -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label asp-for="DataFimTac" class="control-label"></label>
                        <input type="date" asp-for="DataFimTac" class="form-control" />
                        <span asp-validation-for="DataFimTac" class="text-danger"></span>
                    </div>
                </div>

                <!-- Prazo Encerra -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label asp-for="PrazoEncerra" class="control-label"></label>
                        <input asp-for="PrazoEncerra" class="form-control" />
                        <span asp-validation-for="PrazoEncerra" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- Linha 5 -->

            <div class="row p-lg-3">
                <!-- Campo PGE -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label asp-for="PGE" class="control-label"></label>
                        <div>
                            <label><input type="radio" asp-for="PGE" value="true" /> Sim</label>
                            <label><input type="radio" asp-for="PGE" value="false" /> Não</label>
                        </div>
                    </div>
                </div>

                <!-- Campo Cumpriu -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label asp-for="Cumpriu" class="control-label"></label>
                        <div>
                            <label><input type="radio" asp-for="Cumpriu" value="true" /> Sim</label>
                            <label><input type="radio" asp-for="Cumpriu" value="false" /> Não</label>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Linha 6 -->
            <div class="row p-lg-3">
                <!-- Obrigação -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Obrigacao" class="control-label"></label>
                        <textarea asp-for="Obrigacao" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Obrigacao" class="text-danger"></span>
                    </div>
                </div>

                <!-- Observação Ajuste TAC -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ObservacaoAjusteTAC" class="control-label"></label>
                        <textarea asp-for="ObservacaoAjusteTAC" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="ObservacaoAjusteTAC" class="text-danger"></span>
                    </div>
                </div>
            </div>
         </div>
      
 

        <div class="row   p-lg-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="InfoAdd" class="control-label"></label>
                    <textarea style="text-align:justify" rows="8" cols="90" asp-for="InfoAdd" class="form-control"></textarea>
                    <span asp-validation-for="InfoAdd" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Objeto" class="control-label"></label>
                    <textarea style="text-align:justify" rows="8" cols="90" asp-for="Objeto" class="form-control"></textarea>
                    <span asp-validation-for="Objeto" class="text-danger"></span>
                </div>
            </div>
        </div>
        <!-- Botão de submit -->
        <div class="row justify-content-center   p-lg-3">
            <div class="col-md-6 text-center">
                <button type="button" class="btn btn-primary" id="salvarBtn">Salvar</button>
                <a href="@Url.Action("Index", "Corregedoria")" class="btn btn-danger">Cancelar</a>
            </div>
        </div>

        <!-- Botão de submit -->
        <div class="row justify-content-center p-lg-3">
            <a asp-action="Index" class="btn btn-success">Voltar</a>
        </div>

    </form>
</div>

<div>
   
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const decisaoSelect = document.getElementById("Decisao");
            const tacFields = document.getElementById("tacFields");
            const valoresPermitidos = ["TAC_CELEBRADO", "TAC_CONCLUIDO", "TAC_DESCUMPRIDO", "TAC_INVIAVEL"];

            function verificarExibicaoCampos() {
                tacFields.style.display = valoresPermitidos.includes(decisaoSelect.value) ? "block" : "none";
            }

            decisaoSelect.addEventListener("change", verificarExibicaoCampos);
            verificarExibicaoCampos();
        });
    </script>


} *@



@model ODP.Web.UI.Models.Corregedoria.InstauracaoViewModel
@using Domain.Corregedoria.Enum

@{
    ViewData["Title"] = "Editar";
}

    
<div class="container-xxl shadow-lg border-1 mt-4 px-4">
    <form asp-action="Editar" method="post" id="editarForm">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Editar <b>Instauração</b></h2>
                </div>
            </div>
        </div>
        <div class="row p-lg-3">
            <div class="col-sm-2">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="col-sm-3">
                <label asp-for="CNPJCPF" class="control-label"></label>
                <input asp-for="CNPJCPF" class="form-control" />
                <span asp-validation-for="CNPJCPF" class="text-danger"></span>
            </div>
            <div class="col-sm-2">
                <label asp-for="RG" class="control-label"></label>
                <input asp-for="RG" class="form-control" />
                <span asp-validation-for="RG" class="text-danger"></span>
            </div>
            <div class="col-sm-3">
                <label asp-for="Protocolo" class="control-label"></label>
                <input asp-for="Protocolo" class="form-control" />
                <span asp-validation-for="Protocolo" class="text-danger"></span>
            </div>
            <div class="col-sm-2">
                <label asp-for="Orgao" class="control-label"></label>
                @Html.DropDownListFor(m => m.Orgao, new SelectList(Enum.GetValues(typeof(ETipoOrgao))), "-- Selecione --", new { @class = "form-control" })
                <span asp-validation-for="Orgao" class="text-danger"></span>
            </div>

        </div>

        <div class="row p-lg-3">
            
            <div class="col-sm-3">
                <label asp-for="AtoNormativo" class="control-label"></label>
                <input asp-for="AtoNormativo" class="form-control" />
                <span asp-validation-for="AtoNormativo" class="text-danger"></span>
            </div>
            <div class="col-sm-3">
                <label asp-for="DataPublicacao" class="control-label"></label>
                <input type="date" asp-for="DataPublicacao" class="form-control" />
                <span asp-validation-for="DataPublicacao" class="text-danger"></span>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="NumeroDIOE" class="control-label"></label>
                    <input asp-for="NumeroDIOE" class="form-control" />
                    <span asp-validation-for="NumeroDIOE" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <label asp-for="Procedimento" class="control-label"></label>
                @Html.DropDownListFor(m => m.Procedimento, new SelectList(Enum.GetValues(typeof(ETipoProcedimento))), "-- Selecione --", new { @class = "form-control" })
                <span asp-validation-for="Procedimento" class="text-danger"></span>
            </div>
        </div>
        <div class="row p-lg-3">

            <div class="col-sm-3">
                <label asp-for="AtoNormativoDecisao" class="control-label"></label>
                <input asp-for="AtoNormativoDecisao" class="form-control" />
                <span asp-validation-for="AtoNormativoDecisao" class="text-danger"></span>
            </div>
            <div class="col-sm-3">
                <label asp-for="DataPublicacaoDecisao" class="control-label"></label>
                <input type="date" asp-for="DataPublicacaoDecisao" class="form-control" />
                <span asp-validation-for="DataPublicacaoDecisao" class="text-danger"></span>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="NumeroDIOEDecisao" class="control-label"></label>
                    <input asp-for="NumeroDIOEDecisao" class="form-control" />
                    <span asp-validation-for="NumeroDIOEDecisao" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <label asp-for="Decisao" class="control-label"></label>
                @Html.DropDownListFor(m => m.Decisao, new SelectList(Enum.GetValues(typeof(ETipoDecisao))), "-- Selecione --", new { @class = "form-control", id = "Decisao" })
                <span asp-validation-for="Procedimento" class="text-danger"></span>
            </div>
        </div>

        <!-- Campos Dinâmicos TAC -->
        <div id="tacFields" style="display: none;">
            <!-- Linha 4 -->
            <div class="row p-lg-3">
                <!-- Data Início TAC -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label asp-for="DataInicioTac" class="control-label"></label>
                        <input type="date" asp-for="DataInicioTac" class="form-control" />
                        <span asp-validation-for="DataInicioTac" class="text-danger"></span>
                    </div>
                </div>

                <!-- Data Fim TAC -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label asp-for="DataFimTac" class="control-label"></label>
                        <input type="date" asp-for="DataFimTac" class="form-control" />
                        <span asp-validation-for="DataFimTac" class="text-danger"></span>
                    </div>
                </div>

                <!-- Prazo Encerra -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label asp-for="PrazoEncerra" class="control-label"></label>
                        <input asp-for="PrazoEncerra" class="form-control" />
                        <span asp-validation-for="PrazoEncerra" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- Linha 5 -->

            <div class="row p-lg-3">
                <!-- Campo PGE -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label asp-for="PGE" class="control-label"></label>
                        <div>
                            <label><input type="radio" asp-for="PGE" value="true" /> Sim</label>
                            <label><input type="radio" asp-for="PGE" value="false" /> Não</label>
                        </div>
                    </div>
                </div>

                <!-- Campo Cumpriu -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label asp-for="Cumpriu" class="control-label"></label>
                        <div>
                            <label><input type="radio" asp-for="Cumpriu" value="true" /> Sim</label>
                            <label><input type="radio" asp-for="Cumpriu" value="false" /> Não</label>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Linha 6 -->
            <div class="row p-lg-3">
                <!-- Obrigação -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Obrigacao" class="control-label"></label>
                        <textarea asp-for="Obrigacao" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Obrigacao" class="text-danger"></span>
                    </div>
                </div>

                <!-- Observação Ajuste TAC -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ObservacaoAjusteTAC" class="control-label"></label>
                        <textarea asp-for="ObservacaoAjusteTAC" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="ObservacaoAjusteTAC" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

                   <!-- Fim  Campos TAC (Visíveis Condicionalmente) -->

        <div class="row   p-lg-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="InfoAdd" class="control-label"></label>
                    <textarea style="text-align:justify" rows="8" cols="90" asp-for="InfoAdd" class="form-control"></textarea>
                    <span asp-validation-for="InfoAdd" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Objeto" class="control-label"></label>
                    <textarea style="text-align:justify" rows="8" cols="90" asp-for="Objeto" class="form-control"></textarea>
                    <span asp-validation-for="Objeto" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="text-center p-lg-3">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="@Url.Action("Index", "Corregedoria")" class="btn btn-danger">Cancelar</a>
        </div>

     </form>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const decisaoSelect = document.getElementById("Decisao");
            const tacFields = document.getElementById("tacFields");
            const valoresPermitidos = ["TAC_CELEBRADO", "TAC_CONCLUIDO", "TAC_DESCUMPRIDO", "TAC_INVIAVEL"];

            function verificarExibicaoCampos() {
                tacFields.style.display = valoresPermitidos.includes(decisaoSelect.value) ? "block" : "none";
            }

            decisaoSelect.addEventListener("change", verificarExibicaoCampos);
            verificarExibicaoCampos();
        });
    </script>
}

   