@using Domain.DueDiligence.Enum
@using ODP.Web.UI.Models.DueDiligence
@model List<ODP.Web.UI.Models.DueDiligence.DueDiligenceViewModel>

@{
    ViewData["Title"] = "Pesquisar Protocolo";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js"></script>


 <nav class="navbar bg-light-blue" style="margin-top: 56px; padding: 10px 15px;">
    <div class="row ml-3 d-flex align-items-center">
        <div class="card-body p-0">
            <label for="protocolo" class="mb-1">Pesquisa Protocolo:</label>
            <form method="post" asp-action="PesquisarProtocolo" class="d-flex">
                <div class="form-group mb-0">
                    <input type="text" id="nroProtocolo" name="nroProtocolo"
                           class="form-control" required placeholder="__.___.___-_" 
                           style="height: 38px;"/>
                </div>
                <button type="submit" class="btn btn-primary ml-2"
                        style="height: 38px; padding: 5px 15px;">
                    Pesquisar
                </button>
            </form>
        </div>
    </div>
</nav>


<div class="container-fluid mt-3 px-3">
    <div id="tabelaResultados" class="mx-auto" style="max-width: 95%;">
        @if (Model != null && Model.Any())
        {
            <div class="table-responsive shadow-sm p-3 bg-white rounded">
                <div class="table-wrapper">
                    <div class="table-title text-center">
                        <h2 class="mb-3">Resultado da <b>Busca</b></h2>
                    </div>
                   
                    @if (!string.IsNullOrEmpty(ViewData["Mensagem"] as string))
                    {
                        <div class="alert alert-warning text-center">
                            @ViewData["Mensagem"]
                        </div>
                    }
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Protocolo</th>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Órgão</th>
                                <th>Observação</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.NroProtocolo</td>
                                    <td>@item.Nome</td>
                                    <td>@item.CPF</td>
                                    <td>@item.Orgao</td>
                                    <td>@item.Observacao</td>                                    
                                    <td>
                                        <a href="@Url.Action("Create", "AnaliseTecnica", new { nroProtocolo = item.NroProtocolo })"
                                           class="btn btn-success">
                                            <img src="~/svg/adicionar.svg" width="20" height="20"
                                                 class="d-inline-block align-top" alt="Adicionar">
                                            <span class="m-1 text-white" style="font-size:12px">Análise</span>
                                        </a>


                                       
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="table-responsive shadow-sm p-3 bg-white rounded">
                <div class="table-wrapper">
                    <div class="table-title text-center">
                        <h2 class="mb-3">Resultado da <b>Busca</b></h2>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Protocolo</th>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Órgão</th>
                                <th>Observação</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="6" class="text-center">Nenhum protocolo encontrado</td>
                            </tr>
                                
                        </tbody>
                    </table>
                </div>
            </div>


           
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#nroProtocolo").inputmask("99.999.999-9");
    });
</script>